<div class="index-book">
    <a href="./books/<%= book._id %>"> <img src="/images/<%= book.image %>" alt="Book Cover"></a>
    <span><i><%= book.title %></i></span>
    <span>by <%= book.author %></span>
    <span><%= book.rating %> stars</span>
    <a href="./books/<%= book._id %>">Details</a>
</div>