<%- include("../partials/head") -%>
<%- include("../partials/nav") -%>

    <!-- CONTENT -->
    <div class="card">
        <div class="card-top">
            <p class="title"><%= thisBook.title %></p>
            <img src="/images/<%= thisBook.image %>" alt="Book Cover" />
        </div>
        <div class="card-bottom">
            <p><span style="color: #063C5E;font-weight: bold;text-decoration: underline;">Title:</span> <span style="font-style: italic;"> <%= thisBook.title %></span></p>
            <p><span style="color: #063C5E;font-weight: bold;text-decoration: underline;">Author:</span> <%= thisBook.author %></p>
            <p><span style="color: #063C5E;font-weight: bold;text-decoration: underline;">Publisher:</span> <%= thisBook.publisher %></p>
            <p><span style="color: #063C5E;font-weight: bold;text-decoration: underline;">Genre:</span> <%= thisBook.genre %></p>
            <p><span style="color: #063C5E;font-weight: bold;text-decoration: underline;">Rating:</span> <%= thisBook.rating %></p>
            <p><span style="color: #063C5E;font-weight: bold;text-decoration: underline;">Synopsis:</span> <%= thisBook.synopsis %></p>
        </div>
    </div>

<%- include("../partials/footer") -%>